.addOns-item{
   position: relative;
   display: flex;
   width: 100%;
   height: 44pt;
   border-radius: 4pt;
   margin: 6pt 0;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   user-select: none;
   overflow: hidden;
   z-index: 1;
}

.iconCheck{
   width: 40pt;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.iconCheck > input{
    position: relative;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12pt;
    height: 12pt;
    background-color: white;
    border: 1pt solid lightGray;
    border-radius: 2pt;
}

.iconCheck input[type=checkbox]:checked {
    background-color: var(--purplishBlue);
    border: 1pt solid var(--purplishBlue);
}

.iconCheck input[type=checkbox]:checked ~ .backgrounAddOns{
    background-color: var(--magnolia);
    box-shadow: inset 0 0 0 1pt var(--marineBlue);
}

.iconCheck input[type=checkbox]:checked:after{
    display: block;
}

.iconCheck input[type=checkbox]:after{
    content: "";
    position: absolute;
    display: none;
    width: 2pt;
    height: 5pt;
    top: -1pt;
    left: 3pt;
    border-style: solid;
    border-width: 2pt;
    border-color: transparent white white transparent;
    transform: rotate(45deg);
}

.addOns-item:hover > .iconCheck > .backgrounAddOns{
    box-shadow: inset 0 0 0 1pt var(--marineBlue);
}

.backgrounAddOns{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4pt;
    box-shadow: inset 0 0 0 1pt var(--lightGray);
    z-index: -1;
}

.iconCheck > .marck-item{
    height: 10pt;
    width: 10pt;
    border-radius: 2pt;
    background-color: white;
}

.infoAddOns{
   width: calc(100% - 100pt);
   height: 100%;
   display: flex;
   align-items: center;
}

.infoAddOns > div > strong,
.infoAddOns > div > span{
    position: relative;
    display: block;
    width: 100%;
}

.infoAddOns > div > strong{
    font-family: 'Ubuntu Bold';
    font-size: 10pt;
    color: var(--marineBlue);
    margin-bottom: 0.3em;
}

.infoAddOns > div > span,
.priceAddOns{
    font-family: 'Ubuntu Regular';
    font-size: 8pt;
}

.infoAddOns > div > span{
    color: var(--coolGray);
}

.priceAddOns{
   width: 60pt;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--purplishBlue);
}