.inp-container{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 5pt 0 14pt 0;
}

.inp-container > label{
    position: relative;
    display: block;
    font-size: 8pt;
    font-family: 'Ubuntu Regular';
    color: var(--marineBlue);
    margin-bottom: 4pt;
}

.inp-container > label > span{
    float: right;
    color: var(--strawberryRed);
}

.inp-container > input[type="text"],
.inp-container > input[type="tel"],
.inp-container > input[type="email"]{
    position: relative;
    display: block;
    width: 100%;
    padding: 8pt;
    border-radius: 4pt;
    color: var(--marineBlue);
    font-family: 'Ubuntu Medium';
    font-size: 10pt;
    outline: none;
    border: 1pt solid var(--lightGray);
}

.invalid{
    border: 1pt solid var(--strawberryRed) !important;
}